@rendermode InteractiveServer
@using Blazored.SessionStorage
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FrontEnd1</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="firstChat">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> FirstChat
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profile">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Profile
            </NavLink>
        </div>
        @if (_token is not null)
        {    
        }
    </nav>
</div>

@inject ISessionStorageService sessionStorage;
@code 
{
    private const string JWT_Key = nameof(JWT_Key);
    public string _token;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        _token = await sessionStorage.GetItemAsync<string>(JWT_Key);
    }
}

